@media (max-width: 1260px) {
    #three img {
        height: 250px;
        width: 230px;
    }
}

@media (max-width: 1080px) {

    .text-box h1 {
        font-size: 50px;
        color: #ffbe92;
    }

    .text-box p {
        font-size: 14px;
    }

    .text-box h2 {
        font-size: 29px;
        color: #ffbe92;
        transition: 190ms;
    }

    .text-box h3 {
        font-size: 17px;
        color: #ffbe92;
        transition: 190ms;
    }

    .text-box a h2:hover,h3:hover {
        color: #ff6600;
        
    }

    #intro {
        padding-top: 100px;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    #two img {
        height: 200px;
        width: 300px; 
        border-radius: 40px;
    }

    #three img {
        height: 200px;
        width: 180px;
    }

    

    #four img {

    }



}    

@media (max-width: 992px) {

}

@media (max-width: 850px) {

}

@media (max-width: 768px) {

}


@media (max-width: 560px) {
   
}


@media (max-width: 460px) {
   
}