
@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");

body {
    line-height: 1;
    background: url(../img/3004107-3840x2160-flower-girl-kaori-miyazono-silhouette-orange-color.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.line {
    
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    
}

.cont{
   display:flex;
   position: relative;
   top: -38px;
   width:100%;
}

.triangle1, .triangle2{
    width: 50%;
    height: 40px;
}

#tr1 {
    background: linear-gradient(to left bottom, transparent 49%,rgb(36, 38, 54) 50%);
}

#tr2 {
    background: linear-gradient(to right bottom, transparent 49%, rgb(36, 38, 54) 50%);
}

#tr3 {
    background: linear-gradient(to left bottom, transparent 49%,rgba(29, 32, 46, 1) 50%);
}

#tr4 {
    background: linear-gradient(to right bottom, transparent 49%, rgba(29, 32, 46, 1) 50%);
}

#tr5 {
    background: linear-gradient(to left bottom, transparent 49%,rgb(16, 17, 24) 50%);
}

#tr6 {
    background: linear-gradient(to right bottom, transparent 49%, rgb(16, 17, 24) 50%);
}

#tr7 {
    background: linear-gradient(to right top, transparent 49%, rgb(16, 17, 24) 50%);
    z-index: 100;
}

#tr8 {
    background: linear-gradient(to left top, transparent 49%,rgb(16, 17, 24) 50%);
    z-index: 100;
}




.wrapper {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 4%;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 700;
    height: 2em;
    letter-spacing: 0.1em;
    line-height: 3em;
    position: absolute;
    right: 1.7em;
    text-transform: uppercase;
    top: -10px
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }





footer header {
    margin: 0;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 , p {
    color: #ffffff;
    font-family: Raleway, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

ul {
    display: inline-flex;
}

li {
    padding-right: 30px;
}

a {
    text-decoration: none;
}

/* Content-block*/

.production {
    margin-top: 50px;
    margin-bottom: 40px;
    height: 470px;
    text-align: center;
    position: relative;
    
}


.production img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 1px 100px 2px black;
}


.production:hover  {
    transition: 190ms;
    scale: 1.08;
}

.production h3 {
    background: #bc652b;
    border-radius: 1000px;
    padding: 13px;
    margin-bottom: 6px;
}




a img{
    transition: opacity 124ms linear, transform 124ms linear; 
    width: 100%;
    height: auto;
    display: block; 
}

a:hover img{
    transform: scale(1.05); 
    z-index: 100;
}

.flex-column {
    flex-direction: column;
}

.content-block {
    display: flex;
    border: 0;
    font-size: 100%;
    justify-content: center;
    left: 0;
    top: 0;
    
}



.bl-reverse {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    border: 0;
    font-size: 100%;
    
}

    

    
    
    


  

/*Content-block end*/


/* Transition 

.transition {
    display: flex;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid blue;

}



*/





.text-box {
    width: 100%;
    display: flex;
    text-align: center;
    hyphens: manual;
    word-wrap: break-word;
    

}


    .text-box h1 {
        font-size: 55px;
        color: #ffbe92;
        transition: 190ms;  
    }

    .text-box p {
        font-size: 20px;
        line-height: 33px;
        transition: 190ms;
    }

    .text-box h2 {
        font-size: 34px;
        color: #ffbe92;
        transition: 190ms;
    }

    .text-box h3 {
        font-size: 22px;
        color: #ffbe92;
        transition: 190ms;
    }

    .text-box a h2:hover, nav h1 a:hover {
        color: #ff6600;  
    }

    #intro {
        padding-top: 240px;
        animation: 3s show ease;
    }


    




.inner {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    justify-content: center;
    padding: 10px;
    
}




/* Header */

    header {
        background-color: rgba(53, 56, 73, 1);
        height: auto;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 1000;
        justify-content: center;
        position: fixed;
    }

        .logo {
            justify-content: space-between;
            align-items: center;
            display: flex;
            padding-left: 20px;
            

        }

        .logo-first-block, .logo-second-block {
            margin-top: 10px;
        }

        

        .logo-second-block {

        }

        #header h1 {
            border-bottom: 0;
            font-size:  1em;
            opacity: 1;
            visibility: visible;
            transition: 190ms;
            
        }

            #header h1 a {
                border: 0;
                color: white;
                transition: 190ms;
            }

        #header nav {
            font-family: Raleway, Helvetica, sans-serif;
            margin-top: 0;
            text-transform: uppercase;
    
            
        }
        /*
            #header nav div {
                font-family: Raleway, Helvetica, sans-serif;
                font-size: 1em;
                font-weight: 700;
                height: 2em;
                letter-spacing: 0.1em;
                line-height: 3em;
            }
            */
                #header nav div img {
                    height: 30px;
                    width: 30px;
                }

                #header nav ul li h1:hover {
                    color: #ff6600;
                    
                } 

/* Header end */



/* Section */

    section {
        width: 100%;
        margin-top: 0;
        position: relative;
        
    }


    #one {
        background: linear-gradient(rgb(235, 107, 88, 0.8), rgba(7, 6, 14, 0.901)), 
		url(../img/3004107-3840x2160-flower-girl-kaori-miyazono-silhouette-orange-color.png);;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
        height: 900px;
        
    }

    #two {
        background: linear-gradient( rgb(36, 38, 54),rgb(22, 25, 35, 0.8));
    }

        #two img {
            height: 200px;
            width: 200px; 
            border-radius: 68px;
            box-shadow: 0px 0px 200px 1px;
        }


    #three {
        background-color: rgba(29, 32, 46, 1);
        background: linear-gradient(rgba(29, 32, 46, 1),rgba(27, 30, 45, 0.808));
        padding-bottom: 40px ;
        margin-top: -5px;
    }



        

        

    #four {
        background-color: rgb(16, 17, 24);
        
        z-index: 100;
    }

        #four img {

        }

    #six {
        background: linear-gradient(rgb(58, 38, 45),rgba(0, 0, 0, 0.908));
		
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-top: -100px;
        z-index: 0;
    }

        #six h3:hover {
            color: #ff6600;  
        }




    




/* Section end */



/* Footer */

footer {
    background-color: rgba(53, 56, 73, 1);
        height: auto;
        width: 100%;
        left: 0;
        top: 0;

        z-index: 100;
        justify-content: center;
    }

    #footer h1 {
        font-size: 20px;
    }

    #footer h3 {
        font-size: 13px;
    }

/* Footer end */













